body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ffffff;
    color: #1a1a1a;
}

.contenedor-seccion {
    max-width: 1200px;
    margin: auto;
    padding: 2em 1em;
}

header {
    background-color: #000000;
    color: #ffffff;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 150px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

.nav {
    list-style: none;
    display: inline-flex;
    gap: 1em;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.3em 1em;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.nav a:hover, .nav .active {
    background-color: #e10073;
}

.hero {
    background: linear-gradient(to right, #1a1a1a, #4a4a4a);
    color: #ffffff;
    text-align: center;
    padding: 4em 1em;
}

.hero h1 {
    font-size: 2.5em;
    padding: 0.5em;
}

.eventos {
    padding: 3.5em 0;
    display: flex;
    justify-content: space-around;
}

.evento-card {
    background-color: #ffffff;
    border-radius: 4px;
    width: 300px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 30px;
}

.evento-card img {
    width: 100%;
    border-radius: 4px;
}

.btn-comprar {
    background-color: #e10073;
    color: #ffffff;
    padding: 0.7em 1.5em;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.contacto {
    display: flex;
    justify-content:space-around;
    padding: 3em;
    flex-wrap: wrap;
    background-color: #4a4a4a;
}

.contacto aside {
    min-width: 250px;
    padding: 1em;
    color: #ffffff;
}

form {
    min-width: 250px;
    color: #ffffff;
    flex: 1;
    gap: 2em;
}

form fieldset {
    border: none;
    display: flexbox;
    flex-direction: column;
    gap: 0.5em;
}

form input, form select, form textarea {
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    margin-bottom: 0.5em;
}

button {
    background-color: #e10073;
    color: #ffffff;
    border: none;
    padding: 0.7em 1em;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #b1005b;
}